<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>centit_.ttf</string>
		<string>georgia.ttf</string>
		<string>georgiab.ttf</string>
		<string>georgiai.ttf</string>
		<string>georgiaz.ttf</string>
		<string>lblack.ttf</string>
		<string>lbrited.ttf</string>
		<string>centbd.ttf</string>
	</array>
</dict>
</plist>
